.skill-heading{
    margin-top: 2rem;
    text-align: center;
    font-weight: bold;
    font-size: 1.7rem;
}
.skill-icon{
    display: flex;
    justify-content: space-around;
    margin-top: 2rem;
    font-size: 3rem;
}
.html{
    color: rgb(240, 107, 6);
}
.css{
    color: rgb(10, 116, 229);
}
.java{
    color: rgb(235, 182, 7);
}
.react{
    color: rgb(47, 158, 205);
}

.skillitems{
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.skillitem{
    display: flex;
    align-items: center;
    font-weight: bold;
    column-gap: 20px;
    font-size: 1.5rem;
}
.html-line{
    width: 750px;
    margin-left: 80px;
    background-color:rgb(240, 107, 6); 
    height: 6px;
}
.css-line{
    width: 650px;
    margin-left: 93px;
    background-color:rgb(10, 116, 229);
    height: 6px;
}
.java-line{
    width: 450px;
    background-color:rgb(235, 182, 7);
    height: 6px;
}
.react-line{
    width: 550px;
    margin-left: 65px;
    background-color:rgb(47, 158, 205);
    height: 6px;
}
@media (max-width: 1030px) {


    .html-line{
        width: 500px;
    }
    .css-line{
        width: 400px;
    }
    .java-line{
        width: 200px;
    }
    .react-line{
        width: 300px;
    }
}
@media (max-width: 820px) {
    .container{
      width: 600px;
    }
    .html-line{
        margin-left: 50px;
        width: 350px;
    }
    .css-line{
        margin-left: 60px;
        width: 300px;
    }
    .java-line{
        width: 100px;
    }
    .react-line{
        margin-left: 42px;
        width: 200px;
    }
    .skillitem{
        font-size: 1rem;
    }
}
@media (max-width: 620px) {
    .container{
      width: 500px;
    }
} 
@media (max-width: 480px) {
    .html-line{
        margin-left: 50px;
        width: 250px;
    }
    .css-line{
        margin-left: 60px;
        width: 200px;
    }
    .java-line{
        width: 130px;
    }
    .react-line{
        margin-left: 42px;
        width: 150px;
    }
    .skillitem{
        font-size: 1rem;
    }
}
@media (max-width: 415px) {
    .html-line{
        margin-left: 41px;
        width: 200px;
    }
    .css-line{
        margin-left: 47px;
        width: 150px;
    }
    .java-line{
        width: 100px;
    }
    .react-line{
        margin-left: 34px;
        width: 120px;
    }
    .skillitem{
        font-size: 0.8rem;
    }
}